<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Thread Craft</h4>
                            <span>Made With Love</span>
                            <div class="main-border-button">
                                <a routerLink="/product">Purchase Now!</a>
                            </div>
                        </div>
                        <img src="https://themewagon.github.io/hexashop/assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <p>Clothe mean nothing until someone lives in them.</p>
                                            <div class="main-border-button">
                                                <a [routerLink]="['category/products/2']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://themewagon.github.io/hexashop/assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>Style is a way to say who you are without having to speak.</p>
                                            <div class="main-border-button">
                                                <a [routerLink]="['category/products/1']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://themewagon.github.io/hexashop/assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kids</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kids</h4>
                                            <p>Life isn't perfect but your outfit can be.</p>
                                            <div class="main-border-button">
                                                <a [routerLink]="['category/products/3']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://themewagon.github.io/hexashop/assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>